<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{% block title %}{{SITE_NAME}}{% endblock title %}</title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='reset.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
  <div id="fullpage">
  <header>
    <nav role="navigation">
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('all_pages') }}">Posts</a></li>
        <li><a href="{{ url_for('all_tags') }}">Tags</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="projects.html">Projects</a></li>
      </ul>
      <!-- <a href="#menu" id="pull">&#9776; Menu</a> -->
    </nav>
  </header>

  {% block page_content %}
  {% endblock page_content %}

  <footer>
    <ul>
      <li><a href="mailto:email@example.com">cody.j.b.scott@gmail.com</a></li>
      <li><a href="https://github.com/" target="_blank">GitHub Profile</a></li>
      <li><a href="https://bitbucket.org/" target="_blank">BitBucket Profile</a></li>
    </ul>
  </footer>
  </div>
  <!--<script>
    var hidden = true;
    var menu = document.querySelectorAll('nav ul')[0];
    document.getElementById('pull').onclick = function(){
      if (hidden){
        menu.className = 'show';
      }
      else{
        menu.className = 'hide';
      }
      hidden = !hidden;
    }
  </script>-->
</body>
</html>

