{% extends "_layout.html" %}

{% block title %}{{post.title}}{% endblock title %}

{% block content %}
  <article>
    <h1>{{ post.title }}</h1>
    <h2 class="subheading">{{ post.subtitle }}</h2>
    {% if SHOW_AUTHOR %}
        <span class="meta">Posted by <a href="{{ url_for('author', author = post.author)}}">{{ post.author}} </a> on {{ post.date }}</span>
    {% endif %}
    {{ post.html |safe }}

    <hr class="small">
    <p><strong>Tags</strong></p>
    {% for tag in post.meta.get('tags') %}
      <a href="{{ url_for('tag', tag=tag) }}">{{tag}}</a>
    {% endfor %}
  </article>
{% endblock content %}
