# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: htmd

on:
  push:
    paths:
      - '.github/**'
      - 'htmd/**'
      - 'tests/**'
      - 'typehints/**'
      - pyproject.toml
  pull_request:
    paths:
      - '.github/**'
      - 'htmd/**'
      - 'tests/**'
      - 'typehints/**'
      - pyproject.toml

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: chartboost/ruff-action@v1
        with:
          src: "./htmd ./tests"
  unit-test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.13", "3.14"]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools
        python -m pip install .[dev]
    - name: Tests
      run: |
        coverage run -m pytest
        coverage html
        coverage report --fail-under=100
    - name: Archive code coverage results
      if: ${{ failure() }}
      uses: actions/upload-artifact@v4
      with:
        name: code-coverage-report-${{ matrix.os }}-${{ matrix.python-version }}
        path: htmlcov/
