name: htmd

on:
  push:
    paths:
      - '.github/**'
      - 'htmd/**'
      - 'tests/**'
      - 'typehints/**'
      - pyproject.toml
  pull_request:
    paths:
      - '.github/**'
      - 'htmd/**'
      - 'tests/**'
      - 'typehints/**'
      - pyproject.toml

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools
          python -m pip install -e .[dev]
      - name: Run Ruff
        run: |
          ruff check --output-format github
      - name: Register Mypy Problem Matcher
        # This tells GitHub how to read Mypy's text output and turn it into line comments
        run: echo "::add-matcher::.github/mypy-matcher.json"
      - name: Run Mypy
        run: mypy . --no-error-summary --show-column-numbers
  unit-test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.13", "3.14"]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools
        python -m pip install .[dev]
    - name: Tests
      run: |
        coverage run -m pytest
        coverage html
        coverage report --fail-under=100
    - name: Archive code coverage results
      if: ${{ failure() }}
      uses: actions/upload-artifact@v4
      with:
        name: code-coverage-report-${{ matrix.os }}-${{ matrix.python-version }}
        path: htmlcov/
